/* Import font: Montserrat */
@font-face {
    font-family: Montserrat;
    src: url(./fonts/montserrat/montserrat-100.ttf);
    font-weight: 100;
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/montserrat/montserrat-100-italic.ttf);
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/montserrat/montserrat-200.ttf);
    font-weight: 200;
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/montserrat/montserrat-200-italic.ttf);
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/montserrat/montserrat-300.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/montserrat/montserrat-300-italic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/montserrat/montserrat-400.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/montserrat/montserrat-400-italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/montserrat/montserrat-500.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/montserrat/montserrat-500-italic.ttf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/montserrat/montserrat-600.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/montserrat/montserrat-600-italic.ttf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/montserrat/montserrat-700.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/montserrat/montserrat-700-italic.ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/montserrat/montserrat-800.ttf);
    font-weight: 800;
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/montserrat/montserrat-800-italic.ttf);
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/montserrat/montserrat-900.ttf);
    font-weight: 900;
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/montserrat/montserrat-900-italic.ttf);
    font-weight: 900;
    font-style: italic;
}


/* Import font: Source Sans Pro */
@font-face {
    font-family: "Source Sans Pro";
    src: url(./fonts/source_sans_pro/source_sans_pro-200.ttf);
    font-weight: 200;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(./fonts/source_sans_pro/source_sans_pro-200-italic.ttf);
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(./fonts/source_sans_pro/source_sans_pro-300.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(./fonts/source_sans_pro/source_sans_pro-300-italic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(./fonts/source_sans_pro/source_sans_pro-400.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(./fonts/source_sans_pro/source_sans_pro-400-italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(./fonts/source_sans_pro/source_sans_pro-500.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(./fonts/source_sans_pro/source_sans_pro-500-italic.ttf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(./fonts/source_sans_pro/source_sans_pro-700.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(./fonts/source_sans_pro/source_sans_pro-700-italic.ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(./fonts/source_sans_pro/source_sans_pro-900.ttf);
    font-weight: 900;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url(./fonts/source_sans_pro/source_sans_pro-900-italic.ttf);
    font-weight: 900;
    font-style: italic;
}


/* Import font: Source Code Pro */
@font-face {
    font-family: "Source Code Pro";
    src: url(./fonts/source_code_pro/source_code_pro-200.ttf);
    font-weight: 200;
}

@font-face {
    font-family: "Source Code Pro";
    src: url(./fonts/source_code_pro/source_code_pro-200-italic.ttf);
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Source Code Pro";
    src: url(./fonts/source_code_pro/source_code_pro-300.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Source Code Pro";
    src: url(./fonts/source_code_pro/source_code_pro-300-italic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Source Code Pro";
    src: url(./fonts/source_code_pro/source_code_pro-400.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Source Code Pro";
    src: url(./fonts/source_code_pro/source_code_pro-400-italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Source Code Pro";
    src: url(./fonts/source_code_pro/source_code_pro-500.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Source Code Pro";
    src: url(./fonts/source_code_pro/source_code_pro-500-italic.ttf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Source Code Pro";
    src: url(./fonts/source_code_pro/source_code_pro-700.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Source Code Pro";
    src: url(./fonts/source_code_pro/source_code_pro-700-italic.ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Source Code Pro";
    src: url(./fonts/source_code_pro/source_code_pro-900.ttf);
    font-weight: 900;
}

@font-face {
    font-family: "Source Code Pro";
    src: url(./fonts/source_code_pro/source_code_pro-900-italic.ttf);
    font-weight: 900;
    font-style: italic;
}


/* Font styles */
.font-montserrat {
    font-family: Montserrat, sans-serif;
}

.font-source-sans-pro {
    font-family: "Source Sans Pro", sans-serif;
}

.font-source-code-pro {
    font-family: "Source Code Pro", sans-serif;
}