/* Base */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

html, body {
    font-size: size('base');
    font-family: family('body');
    color: color('white', 'base');
    background-color: color('gray', '900');
    min-height: 100vh;
}

section {
    min-height: 100vh;
}
