button {
    display: inline-block;
    padding: spacer('2');
    color: color('white', 'base');
    background-color: color('gray', '900');
    box-shadow: $box-shadow;
}

button:hover {
    cursor: pointer;
    background-color: color('gray', '800');
}

button.link {
    padding: 0;
    color: color('gray', '300');
    background-color: transparent;
    box-shadow: none;
}

button.link:hover {
    color: color('gray', '500');
}

@each $key, $color in $colors {
    @if $key != 'gray' and $key != 'white' and $key != 'black' {
        button.link-#{$key} {
            color: map-get($color, 'base');
        }

        button.link-#{$key}:hover {
            color: map-get($color, 'dark');
        }

        button.bg-#{$key} {
            color: map-get($color, 'font');
        }
    
        button.bg-#{$key}:hover {
            background-color: map-get($color, 'dark');
        }
    }
}

button.top {
    position: fixed;
    right: spacer('2');
    bottom: spacer('2');
}