button {
    padding: spacer('2');
    color: color('white', 'base');
    background-color: color('gray', '900');
    box-shadow: $box-shadow;
}

button:hover {
    cursor: pointer;
    background-color: color('gray', '800');
}