div.cards {
    display: grid;
    grid-gap: spacer('2') spacer('2');
}

@media only screen and (min-width: breakpoint('phone-l')) {
    div.cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

div.card {
    background-color: color('gray', '800');
    box-shadow: $box-shadow;
    position: relative;
}

div.card div.content {
    @extend .p-2;
}

div.card div.icon {
    @extend .p-2;
    background-color: color('gray', '800');
    position: absolute;
    top: 0;
    right: 0;
}