/* Header */
header {
    position: sticky;
    top: 0;
    color: color('gray', '900');
    background-color: color('yellow', 'base');
    padding: spacer('2');
    box-shadow: $box-shadow;
}

header nav ul {
    font-size: size('large');
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin-right: spacer('3');
}