/// V: Variables

/// V.1. Colors
$colors: (
    'gray': (
        '50': #fafafa,
        '100': #f5f5f5,
        '200': #eeeeee,
        '300': #e0e0e0,
        '400': #bdbdbd,
        '500': #9e9e9e,
        '600': #757575,
        '700': #616161,
        '800': #424242,
        '900': #212121
    ),
    'black': (
        'base': #000,
        'font': #fff
    ),
    'white': (
        'base': #fff,
        'font': #000
    ),
    'blue': (
        'base': #2196f3,
        'light': #64b5f6,
        'dark': #1976d2,
        'font': #fff
    ),
    'red': (
        'base': #F44336,
        'light': #E57373,
        'dark': #D32F2F,
        'font': #fff
    ),
    'green': (
        'base': #4CAF50,
        'light': #81C784,
        'dark': #388E3C,
        'font': #fff
    ),
    'yellow': (
        'base': #ffeb3b,
        'light': #FFF176,
        'dark': #FBC02D,
        'font': #000
    ),
    'orange': (
        'base': #FF9800,
        'light': #FFB74D,
        'dark': #F57C00,
        'font': #fff
    ),
    'lime': (
        '900': #827717,
    )
);
@function color($color, $tint) {
    $map: map-get($colors, $color);
    $col: map-get($map, $tint);
    @return $col;
}

/// V.2. Fonts
/// V.2.a Font Families
$families: (
    'heading': #{'Montserrat', 'Verdana', 'Arial', sans-serif},
    'body': #{'Source Sans Pro', 'Arial', sans-serif},
    'monospace': #{'Source Code Pro', 'Courier New', monospace}
);
@function family($family) {
    $family: map-get($families, $family);
    @return $family;
}

/// V.2.b Font Sizes
$sizes: (
    'small': 0.8rem,
    'regular': 1rem,
    'regular-l': 1.25rem,
    'large': 1.5rem,
    'x-large': 2rem,
    'xx-large': 2.2rem,
    'heading': 3rem,
    'heading-l': 3.8rem,
    'display': 8rem
);
@function size($size) {
    $font-size: map-get($sizes, $size);
    @return $font-size;
}

/// V.2.c Headings
$headings: (
    'h1': (
        'family': family('heading'),
        'size': size('heading-l')
    ),
    'h2': (
        'family': family('heading'),
        'size': size('heading')
    ),
    'h3': (
        'family': family('heading'),
        'size': size('xx-large')
    ),
    'h4': (
        'family': family('heading'),
        'size': size('x-large')
    ),
    'h5': (
        'family': family('heading'),
        'size': size('large')
    ),
    'h6': (
        'family': family('heading'),
        'size': size('regular-l')
    )
);
@function heading($heading) {
    $heading: map-get($headings, $heading);
    @return $heading;
}

/// V.3. Spacing and Breakpoints
/// V.3.a Spacers
$unit: 1rem;
$spacers: (
    '1': $unit * 0.25,
    '2': $unit * 0.5,
    '3': $unit * 1,
    '4': $unit * 1.25,
    '5': $unit * 2,
    '6': $unit * 3,
    '7': $unit * 5
);
@function spacer($spacer) {
    $spacer: map-get($spacers, $spacer);
    @return $spacer;
}

/// V.3.b Breakpoints
$breakpoints: (
    'phone': 300px,
    'phone-l': 600px,
    'tablet': 900px,
    'desktop': 1200px,
    'desktop-l': 1600px
);
@function breakpoint($breakpoint) {
    $breakpoint: map-get($breakpoints, $breakpoint);
    @return $breakpoint;
}

/// V.x. Frequently-used Values
$box-shadow: 3px 3px 5px rgba(1, 1, 1, 0.3);