/* Base */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: Source Sans Pro, Arial, sans-serif;
  color: #fff;
  background-color: #212121;
  min-height: 100vh;
}

section {
  min-height: 100vh;
}

/* Headings */
h1, .h1 {
  font-family: Montserrat, Verdana, Arial, sans-serif;
  font-size: 3.8rem;
  font-weight: normal;
}

h2, .h2 {
  font-family: Montserrat, Verdana, Arial, sans-serif;
  font-size: 3rem;
  font-weight: normal;
}

h3, .h3 {
  font-family: Montserrat, Verdana, Arial, sans-serif;
  font-size: 2.2rem;
  font-weight: normal;
}

h4, .h4 {
  font-family: Montserrat, Verdana, Arial, sans-serif;
  font-size: 2rem;
  font-weight: normal;
}

h5, .h5 {
  font-family: Montserrat, Verdana, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
}

h6, .h6 {
  font-family: Montserrat, Verdana, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: normal;
}

/* Text Mutations */
strong, b, .text-bold {
  font-weight: bold;
}

em, .text-italic {
  font-style: italic;
}

code, .text-monospace {
  font-family: Source Code Pro, Courier New, monospace;
}

.text-heading {
  font-family: Montserrat, Verdana, Arial, sans-serif;
}

.text-body {
  font-family: Source Sans Pro, Arial, sans-serif;
}

.text-black {
  color: #000;
}

.bg-black {
  background-color: #000;
}

.text-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.text-blue {
  color: #2196f3;
}

.bg-blue {
  background-color: #2196f3;
}

.text-red {
  color: #F44336;
}

.bg-red {
  background-color: #F44336;
}

.text-green {
  color: #4CAF50;
}

.bg-green {
  background-color: #4CAF50;
}

.text-yellow {
  color: #ffeb3b;
}

.bg-yellow {
  background-color: #ffeb3b;
}

.text-orange {
  color: #FF9800;
}

.bg-orange {
  background-color: #FF9800;
}

/* Spacers */
.m-1 {
  margin: 0.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.mt-key {
  margin-top: 0.25rem;
}

.mr-key {
  margin-right: 0.25rem;
}

.mb-key {
  margin-bottom: 0.25rem;
}

.mr-key {
  margin-right: 0.25rem;
}

.p-1 {
  padding: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.pt-key {
  padding-top: 0.25rem;
}

.pr-key {
  padding-right: 0.25rem;
}

.pb-key {
  padding-bottom: 0.25rem;
}

.pr-key {
  padding-right: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mt-key {
  margin-top: 0.5rem;
}

.mr-key {
  margin-right: 0.5rem;
}

.mb-key {
  margin-bottom: 0.5rem;
}

.mr-key {
  margin-right: 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pt-key {
  padding-top: 0.5rem;
}

.pr-key {
  padding-right: 0.5rem;
}

.pb-key {
  padding-bottom: 0.5rem;
}

.pr-key {
  padding-right: 0.5rem;
}

.m-3 {
  margin: 1rem;
}

.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-key {
  margin-top: 1rem;
}

.mr-key {
  margin-right: 1rem;
}

.mb-key {
  margin-bottom: 1rem;
}

.mr-key {
  margin-right: 1rem;
}

.p-3 {
  padding: 1rem;
}

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pt-key {
  padding-top: 1rem;
}

.pr-key {
  padding-right: 1rem;
}

.pb-key {
  padding-bottom: 1rem;
}

.pr-key {
  padding-right: 1rem;
}

.m-4 {
  margin: 1.25rem;
}

.mx-4 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.my-4 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mt-key {
  margin-top: 1.25rem;
}

.mr-key {
  margin-right: 1.25rem;
}

.mb-key {
  margin-bottom: 1.25rem;
}

.mr-key {
  margin-right: 1.25rem;
}

.p-4 {
  padding: 1.25rem;
}

.px-4 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-4 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.pt-key {
  padding-top: 1.25rem;
}

.pr-key {
  padding-right: 1.25rem;
}

.pb-key {
  padding-bottom: 1.25rem;
}

.pr-key {
  padding-right: 1.25rem;
}

.m-5 {
  margin: 2rem;
}

.mx-5 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-5 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mt-key {
  margin-top: 2rem;
}

.mr-key {
  margin-right: 2rem;
}

.mb-key {
  margin-bottom: 2rem;
}

.mr-key {
  margin-right: 2rem;
}

.p-5 {
  padding: 2rem;
}

.px-5 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-5 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pt-key {
  padding-top: 2rem;
}

.pr-key {
  padding-right: 2rem;
}

.pb-key {
  padding-bottom: 2rem;
}

.pr-key {
  padding-right: 2rem;
}

.m-6 {
  margin: 3rem;
}

.mx-6 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.my-6 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mt-key {
  margin-top: 3rem;
}

.mr-key {
  margin-right: 3rem;
}

.mb-key {
  margin-bottom: 3rem;
}

.mr-key {
  margin-right: 3rem;
}

.p-6 {
  padding: 3rem;
}

.px-6 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.py-6 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pt-key {
  padding-top: 3rem;
}

.pr-key {
  padding-right: 3rem;
}

.pb-key {
  padding-bottom: 3rem;
}

.pr-key {
  padding-right: 3rem;
}

.m-7 {
  margin: 5rem;
}

.mx-7 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.my-7 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mt-key {
  margin-top: 5rem;
}

.mr-key {
  margin-right: 5rem;
}

.mb-key {
  margin-bottom: 5rem;
}

.mr-key {
  margin-right: 5rem;
}

.p-7 {
  padding: 5rem;
}

.px-7 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.py-7 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.pt-key {
  padding-top: 5rem;
}

.pr-key {
  padding-right: 5rem;
}

.pb-key {
  padding-bottom: 5rem;
}

.pr-key {
  padding-right: 5rem;
}

button {
  display: inline-block;
  padding: 0.5rem;
  color: #fff;
  background-color: #212121;
  -webkit-box-shadow: 3px 3px 5px rgba(1, 1, 1, 0.3);
          box-shadow: 3px 3px 5px rgba(1, 1, 1, 0.3);
}

button:hover {
  cursor: pointer;
  background-color: #424242;
}

button.bg-blue {
  color: #fff;
}

button.bg-blue:hover {
  background-color: #1976d2;
}

button.bg-red {
  color: #fff;
}

button.bg-red:hover {
  background-color: #D32F2F;
}

button.bg-green {
  color: #fff;
}

button.bg-green:hover {
  background-color: #388E3C;
}

button.bg-yellow {
  color: #000;
}

button.bg-yellow:hover {
  background-color: #FBC02D;
}

button.bg-orange {
  color: #fff;
}

button.bg-orange:hover {
  background-color: #F57C00;
}
/*# sourceMappingURL=main.css.map */